:root{
    font-size: 65%;

    --color-primary: hsl(249, 44%, 15%);
    --color-secondary: hsl(296, 100%, 69%) ;
    --color-circle : hsl(292, 39%, 24%);
    --color-font: hsl(0, 0%, 100%);

    --color-shadow:hsl(308, 35%, 45%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    height: 100%;
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: Oswald;
}

p,
i,
h1{
    color: var(--color-font);
}

i{
    font-size: 3.2rem;
}

h1{
    font-size: 3.2rem;
}

section{
    display: flex;
    align-items: center;
    height: 100%;
}

.container{
    width: min(42.5rem, 100%);
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.panel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 20rem;
    margin-block: 3rem;
    padding: 1rem;
    border-radius: 10rem;
    box-shadow: 2px 0px 14px 5px var(--color-shadow);
    -webkit-box-shadow: 2px 0px 14px 5px var(--color-shadow);
    -moz-box-shadow: 2px 0px 14px 5px var(--color-shadow);
}

.panel p{
    opacity: .8;
    transition: 1s ease-in;

}

.panel p.active{
    opacity: 1;
    color: var(--color-secondary);
}

.timer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    -webkit-box-shadow: 2px 0px 14px 5px var(--color-shadow);
    -moz-box-shadow: 2px 0px 14px 5px var(--color-shadow);
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-color: var(--color-circle);
    
}

.circle::before{
    content: '';
    position: absolute;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    background-color: var(--color-primary);
}

.time{
    position: relative;
    display: flex;
    flex-direction: row;
}

.time p{
    font-size: 2.8rem;
}

.time p:nth-of-type(2){
    position: relative;
    top: -.5rem;
    margin-inline: 1rem;
}

.controls{
    margin-top: 3rem;
}

.controls button{
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.controls #reset{
    display: none;

}